@import 'settings';
$include-html-classes: true;
$include-html-grid-classes: false;
@import 'foundation/components/grid';
@import 'foundation/components/top-bar';
@import 'foundation/components/panels';
@import 'foundation/components/type';
@import 'base';

body{
	@include grid-column(12, $collapse: true);
}
header,
.view,
footer{
	@include grid-row(nest);
	margin: 0 auto;
}
.site-nav-title{
	font-family: Helvetica;
}
nav.top-bar{
  margin-bottom: 0;
}
.view {
	min-height: 470px;
}
footer{
	background: rgb(201, 180, 159);
	padding: 10px;
	text-align: center;
	font-size: rem-calc(14);
}
