/*
 *= require foundation_and_overrides
 */
@import 'base';
body{
	@include column(12);
	background: {
		color: rgb(236, 236, 236);
	}
	font: {
		family: 'Segoe UI', Helvetica, 'Liberation Sans', 'DejaVu Sans', Freesans, sans-serif;;
	}
}
header,
.view,
footer{
	@include innerRow();
}
.site-nav-title{
	font-family: Helvetica;
}
.view{
  min-height: 450px;
}
footer{
	background: {
		color: rgb(201, 180, 159);
	}
	padding: 10px;
	text-align: center;
}