//
//= require foundation
//
@import 'base';
body{
	@include grid-column(12);
	background: {
		color: rgb(236, 236, 236);
	}
	font: {
		family: 'Segoe UI', Helvetica, 'Liberation Sans', 'DejaVu Sans', Freesans, sans-serif !important;
    size: 14px !important;
	}
}
header,
.view,
footer{
	@include grid-row(nest);
	margin: 0 auto;
}
.site-nav-title{
	font-family: Helvetica;
}
nav.top-bar{
  margin-bottom: 0;
}
.view {
	min-height: 470px;
}
footer{
	background: {
		color: rgb(201, 180, 159);
	}
	padding: 10px;
	text-align: center;
}