@import 'base';
.skills-intro,
.skills-description,
.skills-graph{
  @include grid-column(4, $float: left);
  margin: 20px 0;
}
.skills-intro,
.skills-description{
  line-height: 20px;
  padding: 20px;
}
.skill-label{
  display: block;
}
div.skill-meter{
  height: 12px;
}