@import 'base';
.wbim-intro{
  @include grid-column(8, $float: left);
}
.assignment-list{
  @include grid-column(4, $float: left);
}
.assignment-description{
  @include grid-column(8, $float: left);
}
figcaption{
  text-align: center;
  font-weight: bold;
}
.list-software{
  padding: 0 10px;
}
.open-source-software{
  list-style: none;
}