@import 'base';
@import 'foundation/components/clearing';
article{
  @include grid-row();
}
.wbim-intro{
  @include grid-column(8, $float: left);
}
.assignment-list{
  @include grid-column(4, $float: left);
}
.assignment-description{
  @include grid-column(8, $float: left);
}
figcaption{
  text-align: center;
  font-weight: bold;
}
//$clearing-carousel-thumb-width: 5%;
.model{
  //@include thumb;
}
.software,
.criterion,
.framework,
.protocol,
.technique,
.advantage,
.part,
.temple{
  position: relative;
  left: 20px;
}
.open-source-software,
.quality-criteria,
.protocol-list,
.categorisation,
.modelling,
.language-parts,
.temples-list{
  list-style: none;
}
