<section class="<%= intro.id %>-intro">
  <h4><%= intro.title %></h4>
  <p><%= intro.excerpt %></p>
  <%= partial 'layouts/components/iconpane', locals: { itemtype: intro.id, items: intro.icons } %>
</section>
