<section class="assignment-list">
  <h6>All Assignments</h6>
  <ul class="side-nav">
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 1 %>"><%= link_to 'Assignment 1 - Process Diagram using BPMN', 'bpmn.html' %></li>
    <li class="divider"></li>
  </ul>
</section>