---
title: Assignment 5 - Categorisation of WBIS
stylesheets: wbim
assignment: 5
---
<div class="assignment view">
  <section class="assignment-description">
    <article>
      <h4><%= data.page.title %></h4>
      <p>There are different ways of categorizing Web Based Information Systems : </p>
      <ul class="categorisation">
        <li class="criterion">Based on <i>Function</i></li>
        <li class="criterion">Based on <i>Organizational / Operational Role</i></li>
        <li class="criterion">Based on <i>System Properties</i></li>
      </ul>
      <p>However, the above categorisation system can be improved by specialising into 3 distinct levels : </p>
      <h6>Level 1</h6>
      <ul class="categorisation">
        <li class="criterion"><b>Small Scale</b> : It refers to an organization which might have a single branch in a particular country.</li>
        <li class="criterion"><b>Medium Scale</b> : Identical to above.</li>
        <li class="criterion"><b>Large Scale</b> : It refers to a MNC which has multiple branches in multiple countries.</li>
      </ul>
      <h6>Level 2</h6>
      <ul class="categorisation">
        <li class="criterion"><b>Manual</b> : Booking a ticket in the bus by paying the fee to the conductor and getting the ticket in return is an example.</li>
        <li class="criterion"><b>Automatic</b> : Online flight booking or the working of an ATM are very good examples of an automated system.</li>
        <li class="criterion"><b>Manual + Automatic</b> : Cash deposition in a bank which involves some manual paperwork followed by automated data entry via computer.</li>
      </ul>
      <h6>Level 3</h6>
      <ul class="categorisation">
        <li class="criterion"><b>Complexity</b> : a less complex system is easy to play with and therefore more beneficial for the user.</li>
        <li class="criterion"><b>Adaptability</b> : A system that can incorporate the user feedback easily and therefore further enhance the system to a better level.</li>
        <li class="criterion"><b>Interactive</b> : The more interactive a system is, the more easily the user can communicate with the system and exchange information.</li>
      </ul>
    </article>
  </section>
  <%= partial 'assignments' %>
</div>