---
title: WBIM Home
stylesheets: wbim
---
<div class="wbim-home view">
  <section class="wbim-intro">
    <h4>Web Based Information Management</h4>
    <p>
      This is my assignment portfolio for Web-Based Information Management Course I am taking this semester.
      I am also participating in helping my instructor draft an e-book for this course.
    </p>
  </section>
  <%= partial 'assignments' %>
</div>