---
title: WBIM Home
stylesheets: wbim
---
<div class="wbim-home view">
  <section class="wbim-intro">
    <h4>Web Based Information Management</h4>
    <p>
      This is my assignment portfolio for Web-Based Information Management Course I am taking this semester.
    </p>
  </section>
  <section class="assignment-list">
    <ul>
      <li>Assignment 1</li>
    </ul>
  </section>
</div>