---
title: Assignment 8 - Knowledge Representation
stylesheets: wbim
assignment: 8
---
<div class="assignment view">
  <section class="assignment-description">
    <article>
      <h4><%= data.page.title %></h4>
      <h6>Knowledge Domain - Compiling a piece of C code</h6>
      <p>This consists of checking the syntactical validity of the C code as per standard guidelines</p>
      <h6>Knowledge Representation</h6>
      <p>The best form of representation for the above scenario is in the form of <b>Production Rules</b>.</p>
      <p>To generate a string in the language, one begins with a string consisting of only a single start symbol, and then successively applies the rules (any number of times, in any order) to rewrite this string. This stops when we obtain a string containing only terminals. The language consists of all the strings that can be generated in this manner. Any particular sequence of legal choices taken during this rewriting process yields one particular string in the language. If there are multiple different ways of generating this single string, then the grammar is said to be ambiguous.</p>

      <p>The advantages of Production Rules for my knowledge domain are:</p>
      <ol class="advantages">
        <li class="advantage">Very easy to understand and apply.</li>
        <li class="advantage">Its implementation is straightforward in computer therefore automating the process.</li>
        <li class="advantage">A formal definition in form of BNF includes metalanguage for the definition of language syntax.</li>
        <li class="advantage">Most importantly, it focuses only on the syntactic description of the language.</li>
      </ol>
    </article>

    <article>
      <h6>Logic</h6>
      <p>Apart from the above form of Knowledge Representation, other forms such as <b>Logic</b> can also be applied.</p>
      <p>It mainly has two parts to knowledge representation language:</p>
      <ul class="language-parts">
        <li class="part"><b>Syntax</b> – It describes the possible configurations that can constitute sentences.</li>
        <li class="part"><b>Semantics</b> – It determines the facts in the world to which the sentences refer and also tells us what the agent believes.</li>
      </ul>
      <p>For my Knowledge Domain, the first part i.e. Syntax is more important. So, in the compiler that will compile the C – code, the syntax for various entities of C – language should be defined. For example, a variable name should not start with a number or special character. Similarly, every line of C terminates with a semicolon.</p>
      <p>So, as per my understanding, Production Rule will help to focus at the ground level of defining the syntactical rules for compiling C – code which includes grammar, metalanguage etc. Whereas, Logic which contains two parts i.e. Syntax and Semantics will help me to look at the compiling issue from a higher level.</p>
    </article>
  </section>
  <%= partial 'assignments' %>
</div>