---
title: Abhra Basak
stylesheets: home
---
<div class="home view">
  <section class="hello-intro">
    <h4>Abhra Basak</h4>
    <p>
      Hey, Hi and Hello! I am a Computer Science Undergraduate in <%= link_to 'IIT Mandi', 'http://iitmandi.ac.in' %>. 
      I am passionate about Web Technologies, and also enjoy Programming, Football, Mathematics, Action Movies and Pop Music.
    </p>
  </section>
  <section class="home-social">
    <h5>Find out what I'm up to:</h5>
    <div class="button-bar panel">
      <ul class="button-group radius">
        <% data.contact.each do |contact, address| %>
        <li><%= link_to  contact, address, :class => 'button radius small' %></li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
