---
title: Skills
stylesheets: skills
---
<div class="skills view">
  <section class="skills-intro">
    <p>
      Although I am skilled in several disciplines, I'm more of a dynamic and multi-skilled
      Web Developer and Programmer with a passion for creating innovative stuff, exploring
      and experimenting new things, regardless of the brief.
    </p>
    <p>
      I also use pens, sheets of paper and coffee, to some extent.
      An interesting piece of trivia, I'm also deeply dedicated to music and mixes, especially the drums.
    </p>
  </section>
  <section class="skills-description">
    <%= link_to 'My Resume', 'resume.pdf' %>
  </section>
  <section class="skills-graph">
    <% data.skills.each do |area, skills| %>
      <h5><%= area %></h5>
      <% skills.each do |skill, strength| %>
      <span class="secondary label radius skill-label"><%= skill %></span>
      <div class="nice radius progress success skill-meter"><span class="meter" style="width: <%= strength %>%"></span></div>
      <% end %>
    <% end %>
  </section>
</div>